*{
    font-family: 'Signika', sans-serif;
}
body{
    
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #330033;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='812' height='812' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1.4'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}
#hso{
    display: block;
    margin: 0;
    font-size: 2em;
    color: white;
    white-space: nowrap;
    border-right: 4px solid;
    width: 20ch;
    animation:typing 3s steps(20), blink .5s infinite step-end alternate;
    overflow: hidden;
    pointer-events: none;
}
@keyframes typing{
    from{ width: 0}
}
@keyframes blink{
 50%{ border-color:transparent}
}
#saldoDisponibleTexto{
    font-size: 1.5em;
    font-weight: 600;
    color: #56078bab;
    pointer-events: none;
}
#saldoDisponible{
    font-size: 2em;
    font-weight: 500;
    color: rgba(255, 217, 0, 0.534);
    filter: drop-shadow(1px 1px 8px gold);
    pointer-events: none;
}
header{
    width: 100%;
    height: 70px;
    border-bottom: 1.5px white solid;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: sticky;
}
main{
    display: flex;
    flex-flow: column;
    align-items: center;
}
#fondo{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
#cantidad{
    font-size: 50px;
    font-weight: 600;
    color: rgb(109, 6, 109);
    margin-top:35px;
    margin-bottom: 0;
    pointer-events: none;
}
#cantidadNumero{
    margin: 0;
    color: gold;
    font-size: 50px;
    filter: drop-shadow(1px 1px 8px gold);
    pointer-events: none;
}
#cantidades{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 900px;
    margin-top: 100px;
    
}
#cantidadIngresar{
    margin: 4px;
    border-radius: 5px;
    width: 60%;
    height: 30px;
    background-color: transparent;
    font-size: 1.5em;
    border: 2px #AABFBF solid;
    outline: none;
    position: relative;
    padding: 10px;
    color: #fff;
    backdrop-filter: blur(5px);
    z-index: 1;
    pointer-events:fill;
}
#cantidadIngresar:valid ~ #texto,
#cantidadIngresar:focus ~ #texto{
    color: transparent;
}
#cantidadIngresar:valid,
#cantidadIngresar:focus{
    border:2px solid #71049c;
}
#texto{
    color: #AABFBF;
    position: absolute;
    padding: 10px;
    pointer-events: none;
    font-size: 2em;
    z-index: 1;
}
.btn{
    font-weight: 530;
    margin: 8px;
    width: 350px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: hsla(247, 100%, 50%, 0.116);
    color: white;
    font-size: 20px;
    letter-spacing: 0.1em;
    backdrop-filter: blur(10px);
    z-index: 1;
}
.btn:hover{
    color: #D4D3DE;
    transition: 0.1s;
    background-color: #0B0252;
}